# Visual Studio cache / build folders
.vs/
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/
enc_temp_folder/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.log
*.tmp
*.tlog

# Others
*.ipch
*.opensdf
*.VC.db
*.VC.opendb